<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.top">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".services.FcmMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notificacion" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity
            android:name=".view.FcmActivity"
            android:label="Notificaciones" />
        <activity
            android:name=".view.FotografiasActivity"
            android:label="Fotografías" />
        <!--
                android:theme="@style/AppTheme"
            android:theme="@style/MyTheme.DayNight"
        -->
        <activity
            android:name=".view.LoginActivity"
            android:label="Login" />
        <activity
            android:name=".view.ComidaListActivity"
            android:label="@string/title_comida_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ComidaDetailActivity"
            android:label="@string/title_comida_detail"
            android:parentActivityName=".view.ComidaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.top.view.ComidaListActivity" />
        </activity>
        <activity
            android:name=".view.ConsumoApiActivity"
            android:label="Consumo Api" />
        <activity
            android:name=".view.NotificacionLocalActivity"
            android:label="Notificación Local" />
        <activity
            android:name=".FireBaseActivity"
            android:label="FireBase" />
        <activity
            android:name=".DetalleActivity"
            android:label="@string/title_activity_detalle"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.top.MainActivity" />
        </activity>
        <activity android:name=".AddArtistActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>